{{#if SUCCESS_MESSAGE}}
  <div class='alert alert-success'>{{SUCCESS_MESSAGE}}</div>
  {{!-- {{console.log SUCCESS_MESSAGE}}      --}}
{{/if}}

{{#if ERROR_MESSAGE}}
  <div class='alert alert-danger'>{{ERROR_MESSAGE}}</div>
{{/if}}

{{#if INFO_MESSAGE}}
  <div class='alert alert-info'>{{INFO_MESSAGE}}</div>
{{/if}}

{{#each error}}
  <div class='alert alert-danger'>{{text}}</div>
{{/each}}